In [3]:
import pandas as pd

In [9]:
from mostlyai.sdk import MostlyAI
 
mostly = MostlyAI(local=True)

Initializing Synthetic Data SDK 4.7.6 in LOCAL mode üè†

Connected to ]8;id=383423;file:///home/kle35/mostlyai\/home/kle35/]8;;\]8;id=256646;file:///home/kle35/mostlyai\mostlyai]8;;\ with 31 GB RAM, 8 CPUs, 0 GPUs available

In [10]:
df = pd.read_csv("flat-training.csv")
g = mostly.train(data=df)

Created generator ff212ca1-8866-4136-9eea-e888499b8b1c

Started generator training

Output()

üéâ Your generator is ready! Use it to create synthetic data. Publish it so others can do the same.

In [11]:
mostly.probe(g)

,dog,cat,rabbit,deer,panda,koala,otter,hedgehog,squirrel,dolphin,...,blanket,button,whistle,marble,wagon,storybook,candle,clover,bubble,cookie
0,28,248B,None,2.77,-1,T1,027A,41.0,0,0,...,A9,-28,10,0,-0.96,64,B1,1.05,0,C4

In [16]:
new_df = mostly.probe(g, size=100000)

In [17]:
new_df.to_csv("flat-probe.csv", index=False)

In [18]:
new_df

,dog,cat,rabbit,deer,panda,koala,otter,hedgehog,squirrel,dolphin,...,blanket,button,whistle,marble,wagon,storybook,candle,clover,bubble,cookie
0,69,39ED,49.0,2.62,0,T0,B9DE,37.6,1,1,...,A8,18,4,1,-0.98,64,B3,0.07,1,C15
1,69,C09E,NaN,4.68,-3,T3,B9DE,41.0,1,1,...,A3,26,-1,0,-0.87,-75,B1,0.11,0,C7
2,50,D668,NaN,3.77,-4,T1,027A,41.0,1,1,...,A7,-4,9,0,-0.82,-73,B2,0.83,0,C18
3,12,7202,NaN,3.65,-1,T3,B9DE,17.2,0,1,...,A5,-31,14,0,-0.64,50,B2,0.32,0,C14
4,53,E304,NaN,4.42,-1,T3,B9DE,75.0,1,1,...,A8,6,2,0,-0.68,70,B1,0.12,0,C14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,28,63D1,NaN,1.96,0,T0,027A,41.0,0,1,...,A9,-19,5,0,-1.03,36,B3,0.39,0,C19
99996,43,248B,40.0,4.60,0,T3,027A,43.8,1,1,...,A4,21,0,0,-0.95,79,B1,0.67,0,C7
99997,28,A864,NaN,2.56,-2,T1,B9DE,41.0,0,1,...,A8,3,13,0,-0.77,82,B0,0.62,0,C6
99998,22,A5DB,NaN,2.60,-1,T3,B9DE,41.0,0,1,...,A8,8,4,0,-0.67,-80,B1,1.48,1,C15
99999,74,E304,100.0,3.60,-1,T2,027A,50.6,1,1,...,A9,-21,9,1,-0.76,-70,B1,0.39,0,C9